<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>follows</th>
	  <th><%= link_to user.followers.count, followers_user_path(user) %></th>
  </tr>
  <tr>
	  <th>followers</th>
	  <th><%= link_to user.followeds.count, followeds_user_path(user) %></th>
  </tr>
</table>

<% if user == current_user %>
  <div class='row'>
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  </div>
<% else %>
  <div>
    <% if user.is_followed_by? current_user %>
     <%= link_to user_relationships_path(user), method: :delete do %>
     <button class="btn btn-info">フォロー外す</button>
     <% end %>
    <% else %>
     <%= link_to user_relationships_path(user), method: :post do %>
     <button class="btn btn-success">フォローする</button>
     <% end %>
    <% end %>
    <% unless user.id == current_user.id %>
      <% if (current_user.is_followed_by? user) && (user.is_followed_by? current_user)  %>
        <% if isRoom == true %>
          <%= link_to 'chat', room_path(roomId) %>
        <% else %>
          <%= form_for room do |f| %>
            <%= fields_for entry do |e| %>
              <%= e.hidden_field :user_id, value: user.id %>
            <% end %>
            <%= f.submit "chatを始める", class:"btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
